
/**
 * Icon Moon Classes
 */

[class^="icon-"], [class*=" icon-"] {
	font-family: $font-icons;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}


/**
 * Font size with line-height
 * - Create font-sizes with appropriate line heights
 */

@mixin font-size($font-size){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

/**
 * Ellipsis
 * - Truncate overly long text with ...
 */

@mixin ellipsis($ellipsis-boundary: 100%){
    max-width:$ellipsis-boundary;
    white-space:nowrap;
    overflow:hidden;
	display: inline-block;
    text-overflow:ellipsis;
}

.ellipsis { @include ellipsis; }


/**
 * Micro clearfix
 * - As per http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 */

.cf {
	clear: both;

    &:after{
        content:"";
        display:table;
        clear:both;
    }
}


/**
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}