.skin-layout-dev {

	.badge {
		.font-size(12);
		user-select: none;
		cursor: pointer;
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		color: @c-brand;
		border: 1px solid @c-brand;
		border-radius: 6px;
		padding: 4px 12px;
		background: fade(white, 80%);

		&.active,
		&:hover {
			color: white;
			background: fade(@c-brand, 80%);
		}
	}

	.terrific-module {
		display: block;
		padding: @spacing;
		color: white;
		text-transform: capitalize;
		background-color: fade(@c-brand, 50%);
	}

	&.debug {

		/*
		 * Vertical Rythm
		 */

  		background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(95%, #ffffff), color-stop(95%, #efefef), to(#efefef));
  		background: -moz-linear-gradient(top, #ffffff, #ffffff 95%, #efefef 95%, #efefef);
  		background-size: auto @base-line-height;
	}
}