
/**
 * Basic spacing
 */

$base-font-size:    14px!default;
$base-line-height:  24px!default;
$spacing: 			$base-line-height!default;
$line-height-ratio: $base-line-height / $base-font-size;


/**
 * Colors
 */

$brand:	#213249;
$copy:	#A1DAF7;


/**
 * Font-sizes (in pixels).
 */

$giga-size:		96px!default;
$mega-size:		72px!default;
$kilo-size:		48px!default;

$h1-size:		32px!default; // .alpha
$h2-size:		26px!default; // .beta
$h3-size:		18px!default; // .gamma
$h4-size:		20px!default; // .delta
$h5-size:		16px!default; // .epsilon
$h6-size:		14px!default; // .zeta

$small-size:	12px!default;
$micro-size:	10px!default;


/**
 * Fonts Families
 */

$font-families: 'Open Sans', sans-serif;

// Open Sans

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// Icon Moon

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/iconmoon/icomoon.eot?rofuzr');
	src:url('../fonts/iconmoon/icomoon.eot?#iefixrofuzr') format('embedded-opentype'),
		url('../fonts/iconmoon/icomoon.woff?rofuzr') format('woff'),
		url('../fonts/iconmoon/icomoon.ttf?rofuzr') format('truetype'),
		url('../fonts/iconmoon/icomoon.svg?rofuzr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}


