@mixin position ($position: relative, $coordinates: 0 0 0 0) {
    @if type-of($position) == list {
        $coordinates:$position;
        $position:relative;
    }

    $top:nth($coordinates, 1);
    $right:nth($coordinates, 2);
    $bottom:nth($coordinates, 3);
    $left:nth($coordinates, 4);

    position: $position;

    @if $top == auto {
        top:$top;
    }
    @else if not(unitless($top)) {
        top:$top;
    }
    @if $right == auto {
        right:$right;
    }
    @else if not(unitless($right)) {
        right:$right;
    }
    @if $bottom == auto {
        bottom:$bottom;
    }
    @else if not(unitless($bottom)) {
        bottom:$bottom;
    }
    @if $left == auto {
        left:$left;
    }
    @else if not(unitless($left)) {
        left:$left;
    }
}


/**
 * Font size with line-height
 * - Create font-sizes with appropriate line heights
 */

@mixin font-size($font-size){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

/**
 * Ellipsis
 * - Truncate overly long text with ...
 */

@mixin ellipsis($ellipsis-boundary: 100%){
    max-width:$ellipsis-boundary;
    white-space:nowrap;
    overflow:hidden;
	display: inline-block;
    text-overflow:ellipsis;
}

.ellipsis { @include ellipsis; }


/**
 * Micro clearfix
 * - As per http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 */

.cf {
	clear: both;

    &:after{
        content:"";
        display:table;
        clear:both;
    }
}


/**
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}